repos:
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.96.1
    hooks:
      - id: terraform_fmt
        name: Terraform format
        exclude: ^\.terraform/|\.terraform\.lock\.hcl$

      - id: terraform_validate
        name: Terraform validate
        exclude: ^\.terraform/|\.terraform\.lock\.hcl$

      - id: terraform_tflint
        name: Terraform lint
        exclude: ^\.terraform/|\.terraform\.lock\.hcl$
        args:
          - --args=--config=__GIT_WORKING_DIR__/.tflint.hcl

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
